<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bai.springboot.dao.CollectionMapper">
    <select id="list" resultType="com.bai.springboot.entity.Collection">
        select *
        from collection
    </select>
    <select id="findById" parameterType="String" resultType="com.bai.springboot.entity.Collection">
        select *
        from collection
        where userId = #{userId}
    </select>
    <update id="update" parameterType="com.bai.springboot.entity.Collection">
        update collection
        <set>
            <if test="sellerid!=null and sellerid!=''">
                sellerid=#{sellerid},
            </if>
            <if test="addtime!=null and addtime!=''">
                addtime=#{addtime},
            </if>
            
        </set>
        where productId=#{productId}
    </update>
    <delete id="delete" parameterType="String">
        delete
        from collection
        where productId = #{productId}
    </delete>
    <insert id="save" parameterType="com.bai.springboot.entity.Collection" keyColumn="id" keyProperty="id"
            useGeneratedKeys="true">
        insert into collection (userid,sellerid,productid,addtime)
        values (#{userid},#{sellerid},#{productid}, #{addtime})
    </insert>
</mapper>