<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bai.springboot.dao.MessageBeanMapper">
    <select id="list" resultType="com.bai.springboot.entity.MessageBean">
        select *
        from message
    </select>
    <select id="findById" parameterType="String" resultType="com.bai.springboot.entity.MessageBean">
        select *
        from message
        where  mfrom = #{mfrom}
    </select>
    
    <!-- <delete id="delete" parameterType="String">
        delete
        from message
        where productId = #{productId}
    </delete> -->
    <insert id="save" parameterType="com.bai.springboot.entity.MessageBean" keyColumn="id" keyProperty="id"
            useGeneratedKeys="true">
        insert into message (detail,mfrom,mto,mtime)
        values (#{detail},#{mfrom}, #{mto},#{mtime})
    </insert>
</mapper>